= simple_form_for ([@post, @post.comments.build]) do |f|
  - if user_signed_in?
    = f.input :comment
    = f.submit
  - else
    = f.input :comment
    = link_to 'Sign_up', new_user_registration_path, class: "button"
