#post_content
  %h2= @post.title
  %p= @post.content

  #comments
    %h2
    = @post.comments.count
    Comments
    = render @post.comments
    = render 'comments/form'

  %hr/
  %br/
  
  =link_to 'Edit', edit_post_path(@post), class: "button"
  =link_to 'Delete', post_path(@post), method: :Delete, data: {confirm: 'Are you sure?'}, class: "button"
  =link_to 'Home', root_path, class: "button"
