%html
%head
	%title JokOotk
	%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css"}/
	%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Lato:300,400,700,900"}/
	= csrf_meta_tags
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
	= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
%body
	%header.main_header.clearfix
		.wrapper
			#logo
				%p JokOotk
			.buttons
				=link_to 'New Post', new_post_path
	.wrapper
		%p.notice= notice
		%p.alert= alert
	.wrapper
		= yield