%html
%head
	%title JokOotk
	%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css"}/
	%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Lato:300,400,700,900"}/
	= csrf_meta_tags
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
	= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
%body
	%header.main_header.clearfix
		.wrapper
			#logo
				%p=link_to "JokOotk", root_path
			.buttons
				- if user_signed_in?
					=link_to 'New Post', new_post_path
					=link_to 'Out', destroy_user_session_path
				- else
					=link_to 'Sign_up', new_user_registration_path
					=link_to 'Sign_in', new_user_session_path
	.wrapper
		%p.notice= notice
		%p.alert= alert
	.wrapper
		= yield
